.card-border {
  padding: 30px;
}
label {
  font-size: 16px;
  margin: auto;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px;
}
.txt-right {
  text-align: right;
  font-size: 20px !important;
}
.form-horizontal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.img-center {
  height: 200px;
  width: auto;
  justify-content: center;
}
.modify {
  display: flex;
  justify-content: center;
}
.btn-round {
  border-radius: 5px;
}
.medicine-img {
  width: auto;
  height: 180px;
}
button {
  width: 130px;
}
