<div class="row" *ngIf="medicine">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {{medicine.name}}
      </div>
      <form
        *ngIf="medicine"
        class="form-horizontal"
        [formGroup]="formUpdate"
        (submit)="onSubmit()"
      >
        <div class="card-body row">
          <div class="col-md-7">
            <div class="row form-group">
              <label class="col-md-4 control-label">Tên thuốc: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Tên thuốc"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formUpdate.get('name').invalid 
                  && formUpdate.get('name').touched) 
                  || formUpdate.get('name').dirty"
                >
                  <small
                    *ngIf="formUpdate.get('name').errors?.required"
                    class="text-danger"
                    >Thêm tên thuốc
                  </small>
                  <small
                    *ngIf="formUpdate.get('name').errors?.minlength"
                    class="text-danger"
                    >Tối thiểu 6 kí tự</small
                  >
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label">Mô tả: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <textarea
                    type="text"
                    rows="3"
                    placeholder="Mô tả"
                    class="form-control"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formUpdate.get('description').invalid 
                  && formUpdate.get('description').touched) 
                  || formUpdate.get('description').dirty"
                >
                  <small
                    *ngIf="formUpdate.get('description').errors?.required"
                    class="text-danger"
                    >Thêm mô tả</small
                  >
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label">Thông tin chi tiết: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <textarea
                    type="text"
                    class="form-control"
                    rows="3"
                    formControlName="detail"
                    placeholder="Thông tin chi tiết"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formUpdate.get('detail').invalid 
                && formUpdate.get('detail').touched) 
                || formUpdate.get('detail').dirty"
                >
                  <small
                    *ngIf="formUpdate.get('detail').errors?.required"
                    class="text-danger"
                    >Thêm thông tin chi tiết</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-horizontal">
              <div class="row form-group">
                <div class="col-md-12">
                  <div class="text-center">
                    <img class="medicine-img" [src]="defaultImg" />
                  </div>
                  <!-- onerror="this.style.display='none'" -->
                  <div class="text-center">
                    <input
                      type="file"
                      accept="image/*"
                      #file
                      hidden
                      (change)="onSelectFile($event)"
                    />
                    <button
                      type="button"
                      class="btn btn-primary btn-round"
                      (click)="file.click()"
                    >
                      Chọn ảnh
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
          <div class="modify col-md-6">
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-round">
                Lưu
              </button>
              <button
                type="button"
                (click)="onCancel()"
                class="btn btn-secondary btn-round"
              >
                Hủy
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
