.a1 {
  white-space: nowrap;
}
.icon {
  padding-right: 10px !important;
}
.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  margin-top: 50px;
  padding: 15px;
}
.padding {
  margin-bottom: 40px;
}
.emptyList {
  padding: 40px 0;
}
.btn-round {
  border-radius: 5px;
  margin-right: 20px;
}
.padding {
  padding: 0px 20px;
}
mat-form-field {
  margin: 10px;
}
.card-body {
  padding-top: 0px;
}
/* a {
  color: white !important;
} */
/* a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
} */
.empty {
  color: #556388;
  height: 300px;
}
.empty-box {
  width: 150px;
}
.empty-center {
  padding-top: 20px;
  margin: auto;
}
.address-title {
  color: #4c99d0;
}
