<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          Quản lý kết quả xét nghiệm
        </div>
        <h2 class="text-center address-title" *ngIf="isAdmin">
          {{currentUser.provinceName}} - {{currentUser.districtName}}
        </h2>
        <h2 class="text-center padding address-title" *ngIf="isMod">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2>
        <div class="text-center">
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Tỉnh/Thành phố</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeProvinceId($event.value)"
            >
              <mat-option
                *ngFor="let province of listOfProvince
              , let i = index"
                [value]="province.provinceId"
                >{{province.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Quận/Huyện</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeDistrictId($event.value)"
            >
              <mat-option
                *ngFor="let district of listOfDistrict
              , let i = index"
                [value]="district.districtId"
                >{{district.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeMedicalStaff($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of listOfMedicalStaff
                  , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{convertName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Lần xét nghiệm</mat-label>
            <mat-select
              (selectionChange)="onChangeTestNumber($event.value)"
              matNativeControl
              [value]="defaultTestNumber"
            >
              <mat-option
                *ngFor="let number of numberTest, let i = index"
                [value]="number"
                >{{number}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button
            type="submit"
            (click)="onDownloadFile($event)"
            class="btn btn-success btn-round"
          >
            <i class="fa fa-download"></i>
            Tải xuống
          </button>
        </div>
        <div class="card-body" *ngIf="!testResultsFilter">
          <div class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Danh sách trống!
              </h2>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="testResultsFilter">
          <div *ngIf="testResultsFilter.length === 0" class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Danh sách trống!
              </h2>
            </div>
          </div>
          <div class="" *ngIf="testResultsFilter.length > 0">
            <table class="table table-bordered">
              <thead class="table-info">
                <tr>
                  <th scope="col ">STT</th>
                  <th scope="col ">Họ và tên</th>
                  <th scope="col " style="width: 13%;">Mã xét nghiệm</th>
                  <th scope="col ">Loại xét nghiệm</th>
                  <th scope="col ">kết quả xét nghiệm</th>
                  <th scope="col ">Đơn vị xét nghiệm</th>
                  <th scope="col ">Thời gian thực hiện</th>
                  <th scope="col ">Ghi chú</th>
                  <th scope="col " style="width: 10%;">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let testResult of testResultsFilter 
                  | paginate: { itemsPerPage: 10, currentPage: p}
                  , let i = index"
                >
                  <th class="text-center" scope="row">
                    {{ ((p - 1) * 10) + i + 1 }}
                  </th>
                  <td>
                    <a
                      [routerLink]="['/user-profile']"
                      [queryParams]="{id: testResult.user.userId}"
                    >
                      {{ convertName(testResult.user.lastname,
                      testResult.user.surname, testResult.user.firstname) }}</a
                    >
                  </td>
                  <td>
                    {{ testResult.resultCode }}
                  </td>
                  <td>
                    {{ testResult.sampleType.name }}
                  </td>
                  <td>{{ converTestResult(testResult.testResult) }}</td>
                  <td>{{ testResult.unitSendName }}</td>
                  <td>{{ testResult.collectDate | date: 'dd-MM-yyyy' }}</td>
                  <td>{{testResult.comment}}</td>
                  <td class="text-center">
                    <a
                      [routerLink]="['/test-result-detail']"
                      [queryParams]="{id: testResult.user.userId}"
                      class="icon"
                    >
                      <img
                        src="assets/images/icon/o-alert-info@2x.png"
                        width="24px"
                        height="24px"
                      />
                    </a>
                    <img
                      src="assets/images/icon/trash-can@4x.png"
                      width="24px"
                      height="24px"
                      (click)="openDialog(testResult.id)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="d-flex justify-content-center"
              *ngIf="testResultsFilter.length != 0 && p >= 1"
            >
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
