<!-- <div class="row" *ngIf="exercise">
  <div class="col-md-12">
    <div class="card">
      <div class="card-border">
        <div class="card-header">
          {{exercise.name}}
        </div>
        <form
          [formGroup]="formUpdate"
          class="form-horizontal"
          (submit)="onSubmit(exercise.id)"
        >
          <div class="form-group row">
            <label class="col-md-5 control-label txt-right">
              Tên bài tập:
            </label>
            <div class="col-md-7">
              <input
                type="text"
                placeholder="Tên bài tập"
                class="form-control"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 control-label txt-right">
              Mô tả:
            </label>
            <div class="col-md-7">
              <textarea
                type="text"
                rows="3"
                placeholder="Mô tả"
                class="form-control"
                formControlName="description"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-5 text-right">
              <input
                type="file"
                accept="image/*"
                #file
                hidden
                (change)="onSelectFile($event)"
              />
              <button
                type="button"
                class="btn btn-success btn-round btn-upload"
                (click)="file.click()"
              >
                <i class="fa fa-upload"></i>
                Hình minh họa
              </button>
            </div>
            <div class="col-md-7">
              <img
                class="exercise-img"
                [src]="defaultImg"
                onerror="this.style.display='none'"
              />
            </div>
          </div>
          <p></p>
          <div class="form-group modify">
            <button type="submit" class="btn btn-primary btn-round">
              Lưu
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-round"
              (click)="onCancel(exercise.id)"
            >
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="row" *ngIf="exercise">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {{exercise.name}}
      </div>
      <form
        *ngIf="exercise"
        class="form-horizontal"
        [formGroup]="formUpdate"
        (submit)="onSubmit(exercise.id)"
      >
        <div class="card-body row">
          <div class="col-md-7">
            <div class="row form-group">
              <label class="col-md-4 control-label">Tên bài tập: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Tên bài tập"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formUpdate.get('name').invalid 
                  && formUpdate.get('name').touched) 
                  || formUpdate.get('name').dirty"
                >
                  <small
                    *ngIf="formUpdate.get('name').errors?.required"
                    class="text-danger"
                    >Thêm bài tập
                  </small>
                  <small
                    *ngIf="formUpdate.get('name').errors?.minlength"
                    class="text-danger"
                    >Tối thiểu 3 kí tự</small
                  >
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label">Mô tả: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <textarea
                    type="text"
                    rows="5"
                    placeholder="Mô tả"
                    class="form-control"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formUpdate.get('description').invalid 
                  && formUpdate.get('description').touched) 
                  || formUpdate.get('description').dirty"
                >
                  <small
                    *ngIf="formUpdate.get('description').errors?.required"
                    class="text-danger"
                    >Thêm mô tả</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row form-group">
              <div class="col-md-12">
                <div class="text-center">
                  <img class="exercise-img" [src]="defaultImg" />
                </div>
                <!-- onerror="this.style.display='none'" -->
                <div class="text-center">
                  <input
                    type="file"
                    accept="image/*"
                    #file
                    hidden
                    (change)="onSelectFile($event)"
                  />
                  <button
                    type="button"
                    class="btn btn-primary btn-round"
                    (click)="file.click()"
                  >
                    Thêm ảnh
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
          <div class="modify col-md-6">
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-round">
                Lưu
              </button>
              <button
                type="button"
                (click)="onCancel(exercise.id)"
                class="btn btn-secondary btn-round"
              >
                Hủy
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
