<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Thêm mới thuốc
      </div>
      <form
        class="form-horizontal"
        [formGroup]="formCreate"
        (submit)="onSubmit()"
      >
        <div class="card-body row">
          <div class="col-md-7">
            <div class="row form-group">
              <label class="col-md-4 control-label">Tên thuốc: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Tên thuốc"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formCreate.get('name').invalid && formCreate.get('name').touched) || formCreate.get('name').dirty"
                >
                  <small
                    *ngIf="formCreate.get('name').errors?.required"
                    class="text-danger"
                    >Thêm tên thuốc
                  </small>
                  <small
                    *ngIf="formCreate.get('name').errors?.minlength"
                    class="text-danger"
                    >Tối thiểu 6 kí tự</small
                  >
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label">Mô tả: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <textarea
                    type="text"
                    placeholder="Mô tả"
                    rows="3"
                    class="form-control"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formCreate.get('description').invalid && formCreate.get('description').touched) || formCreate.get('description').dirty"
                >
                  <small
                    *ngIf="formCreate.get('description').errors?.required"
                    class="text-danger"
                    >Thêm mô tả</small
                  >
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label">Thông tin chi tiết: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <textarea
                    type="text"
                    rows="3"
                    placeholder="Thông tin chi tiết"
                    class="form-control"
                    formControlName="detail"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div
                  *ngIf="(formCreate.get('detail').invalid 
                && formCreate.get('detail').touched) 
                || formCreate.get('detail').dirty"
                >
                  <small
                    *ngIf="formCreate.get('detail').errors?.required"
                    class="text-danger"
                    >Thêm thông tin chi tiết</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row form-group">
              <div class="col-md-12">
                <div class="text-center">
                  <img
                    class="medicine-img"
                    [src]="defaultImg"
                    onerror="this.style.display='none'"
                  />
                </div>
                <div class="text-center">
                  <input
                    type="file"
                    accept="image/*"
                    #file
                    hidden
                    (change)="onSelectFile($event)"
                  />
                  <button
                    type="button"
                    class="btn btn-success btn-round"
                    style="width: auto;"
                    (click)="file.click()"
                  >
                    <i class="fa fa-upload"></i>
                    Chọn ảnh
                  </button>
                </div>
                <!-- <div class="col-md-4"></div> -->
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
          <div class="modify col-md-6">
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-round">
                Tạo mới
              </button>
              <button
                type="button"
                (click)="onCancel()"
                class="btn btn-secondary btn-round"
              >
                Hủy
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
