table{
    margin-left: 5%;
    margin-right: auto;
    width: auto;
    border: 1px solid black;
}
.card-header {
    font-size: 35px;
    line-height: 40px ;
    text-align: center;
    color: #4c99d0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.emptyList{
    padding: 40px 0;
  }
a{
    color: black !important;
}
a:hover{
    color: #4c99d0 !important;
}
