.form-horizontal {
  width: 50%;
  margin: 0 auto 50px auto;
  padding: 30px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
}
label {
  text-align: right;
  padding: 0;
  font-size: 16px;
  margin: auto;
}
.btn-round{
  border-radius: 5px;
  width: 120px;
}
.card-header {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #4c99d0;
    padding: 50px 0px 10px 0px;
  }
  h2 {
    color: #4c99d0;
  }
  .card-padding {
    padding: 20px;
    border-bottom: 1px solid royalblue;
  }
  .top-padding {
    border-top: 1px solid lightblue;
  }
  .user-profile {
    width: auto;
    height: 110px;
  }
  .card-modify {
    min-height: 130px;
    /* border: 1px solid lightblue;
      border-radius: 5px; */
  }
  .padding{
    padding: 70px 50px 10px 50px;
  }
  pagination-controls {
    padding: 20px;
  }
  .mat-tab-body-content{
    overflow: hidden;
  }
  .mat-tab-body-padding{
    padding-bottom: 40px;
  }
  mat-form-field {
    margin: 10px;
  }