<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Thêm mới triệu chứng
      </div>
      <div class="card-body">
        <form
          [formGroup]="formCreate"
          (submit)="onSubmit()"
          class="form-horizontal"
        >
          <div class="form-group row">
            <label class="col-md-4 control-label text-right"
              >Tên triệu chứng:
            </label>
            <div class="col-md-8">
              <input
                type="text"
                placeholder="Triệu chứng"
                class="form-control"
                formControlName="name"
              />
              <div
                *ngIf="(formCreate.get('name').invalid 
                && formCreate.get('name').touched) 
                || formCreate.get('name').dirty"
              >
                <small
                  *ngIf="formCreate.get('name').errors?.required"
                  class="text-danger"
                  >Thêm tên triệu chứng</small
                >
                <small
                  *ngIf="formCreate.get('name').errors?.minlength"
                  class="text-danger"
                  >Tối thiểu 2 kí tự</small
                >
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 control-label text-right">Mô tả: </label>
            <div class="col-md-8">
              <textarea
                type="text"
                placeholder="Mô tả"
                class="form-control"
                formControlName="description"
              ></textarea>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-round">
              Thêm mới
            </button>
            <button
              type="button"
              (click)="onCancel()"
              class="btn btn-secondary btn-round"
            >
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
