.card-header {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px 0px 10px 0px;
}
.card-padding {
  padding: 20px;
  border-bottom: 1px solid royalblue;
}
.top-padding {
  border-top: 1px solid lightblue;
}
.user-profile {
  width: auto;
  height: 110px;
}
.card-modify {
  min-height: 130px;
  /* border: 1px solid lightblue;
    border-radius: 5px; */
}
.padding{
  padding: 70px 50px 10px 50px;
}
pagination-controls {
  padding: 20px;
}
.mat-tab-body-content{
  overflow: hidden;
}
.mat-tab-body-padding{
  padding-bottom: 40px;
}
mat-form-field {
  margin: 10px;
}
.empty {
  color: #556388;
  height: 300px;
}
.empty-box {
  width: 150px;
}
.empty-center {
  padding-top: 20px;
  margin: auto;
}
.address-title {
  color: #4c99d0;
}