<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header text-center">Quản lý yêu cầu</div>
        <h2 class="text-center address-title" *ngIf="isAdmin">
          {{currentUser.provinceName}} - {{currentUser.districtName}}
        </h2>
        <h2 class="text-center address-title" *ngIf="isMod">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2>
        <div class="text-center">
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Tỉnh/Thành phố</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeProvinceId($event.value)"
            >
              <mat-option
                *ngFor="let province of listOfProvince
                , let i = index"
                [value]="province.provinceId"
                >{{province.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            class="padding-right"
            *ngIf="isSuperAdmin"
          >
            <mat-label>Quận/Huyện</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeDistrictId($event.value)"
            >
              <mat-option
                *ngFor="let district of listOfDistrict
                , let i = index"
                [value]="district.districtId"
                >{{district.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              [value]="defaultVillageId"
              (selectionChange)="onChangeVillage($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of listOfMedicalStaff
                    , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mat-tab-body-padding">
          <mat-tab-group
            dynamicHeight
            mat-align-tabs="center"
            #tabGroup
            (focusChange)="tabChanged($event)"
            [selectedIndex]="1"
          >
            <mat-tab label="Chấp thuận">
              <div class="card-body" *ngIf="!listOfRequest">
                <div class="empty">
                  <div class="empty-center text-center">
                    <img
                      src="assets/images/empty-folder.png"
                      class="empty-box"
                    />
                    <h2>
                      Danh sách yêu cầu trống!
                    </h2>
                  </div>
                </div>
              </div>
              <div *ngIf="listOfRequest">
                <div *ngIf="listOfRequest.length === 0" class="empty">
                  <div class="empty-center text-center">
                    <img
                      src="assets/images/empty-folder.png"
                      class="empty-box"
                    />
                    <h2>
                      Danh sách yêu cầu trống!
                    </h2>
                  </div>
                </div>
                <div *ngIf="listOfRequest.length >=1">
                  <div *ngFor="let request of listOfRequest , let i = index ">
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <div class="card-padding">
                          <div class="row card-modify">
                            <div class="col-md-3">
                              <div class="text-center">
                                <img
                                  class="user-profile"
                                  [src]="request.user.avatar ? baseImg + request.user.avatar : defaultAvatar"
                                />
                              </div>
                            </div>
                            <div class="col-md-9">
                              <a
                                [routerLink]="['/user-profile']"
                                [queryParams]="{id: request.user.userId}"
                              >
                                <h2 class="card-category">
                                  {{getFullName(request.user.lastname,request.user.surname,
                                  request.user.firstname)}} (
                                  {{request.user.role.description}} )
                                </h2>
                              </a>
                              <p class="card-title text-darken-xl">
                                Đã tạo mới một yêu cầu:
                                <b> {{request.requestType.requestTypeName}} </b>
                              </p>
                              <p class="card-title text-darken-xl">
                                Ngày: {{request.date | date: 'dd/MM/yyyy'}}
                              </p>
                              <p
                                class="card-title text-darken-xl"
                                *ngIf="request.description"
                              >
                                Mô tả: {{request.description}}
                              </p>
                              <p
                                class="card-title text-darken-xl"
                                *ngIf="request.note"
                              >
                                Phản hồi của quản lý: {{request.note}}
                              </p>
                              <button
                                class="btn btn-success btn-round"
                                type="button"
                              >
                                Đã chấp thuận
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Đang chờ">
              <div class="card-body" *ngIf="!listOfRequest">
                <div class="empty">
                  <div class="empty-center text-center">
                    <img
                      src="assets/images/empty-folder.png"
                      class="empty-box"
                    />
                    <h2>
                      Danh sách yêu cầu trống!
                    </h2>
                  </div>
                </div>
              </div>
              <div *ngIf="listOfRequest">
                <div *ngIf="listOfRequest.length === 0" class="empty">
                  <div class="empty-center text-center">
                    <img
                      src="assets/images/empty-folder.png"
                      class="empty-box"
                    />
                    <h2>
                      Danh sách yêu cầu trống!
                    </h2>
                  </div>
                </div>
                <div *ngIf="listOfRequest.length >= 1">
                  <div *ngFor="let request of listOfRequest , let i = index ">
                    <div *ngIf="isMod">
                      <div
                        class="row"
                        *ngIf="request.user.role.description != 'Trạm Y tế'"
                      >
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                          <div class="card-padding">
                            <div class="row card-modify">
                              <!-- <div class="col-md-1 id-center">{{i+1}}</div> -->
                              <div class="col-md-3">
                                <div class="text-center">
                                  <img
                                    class="user-profile"
                                    [src]="request.user.avatar ? baseImg + request.user.avatar : defaultAvatar"
                                  />
                                </div>
                              </div>
                              <div class="col-md-9">
                                <a
                                  [routerLink]="['/user-profile']"
                                  [queryParams]="{id: request.user.userId}"
                                >
                                  <h2 class="card-category">
                                    {{getFullName(request.user.lastname,request.user.surname,
                                    request.user.firstname)}} (
                                    {{request.user.role.description}} )
                                  </h2>
                                </a>
                                <p class="card-title text-darken-xl">
                                  Đã tạo mới một yêu cầu:
                                  <b>
                                    {{request.requestType.requestTypeName}}
                                  </b>
                                </p>
                                <p class="card-title text-darken-xl">
                                  Ngày: {{request.date | date: 'dd/MM/yyyy'}}
                                </p>
                                <p
                                  class="card-title text-darken-xl"
                                  *ngIf="request.description"
                                >
                                  Mô tả: {{request.description}}
                                </p>

                                <button
                                  class="btn btn-success btn-round"
                                  type="button"
                                  (click)="onAprove(request.id)"
                                >
                                  Đồng ý
                                </button>
                                <button
                                  class="btn btn-danger btn-round"
                                  type="button"
                                  (click)="onReject(request.id)"
                                >
                                  Từ chối
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!isMod">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                          <div class="card-padding">
                            <div class="row card-modify">
                              <!-- <div class="col-md-1 id-center">{{i+1}}</div> -->
                              <div class="col-md-3">
                                <div class="text-center">
                                  <img
                                    class="user-profile"
                                    [src]="request.user.avatar ? baseImg + request.user.avatar : defaultAvatar"
                                  />
                                </div>
                              </div>
                              <div class="col-md-9">
                                <a
                                  [routerLink]="['/user-profile']"
                                  [queryParams]="{id: request.user.userId}"
                                >
                                  <h2 class="card-category">
                                    {{getFullName(request.user.lastname,request.user.surname,
                                    request.user.firstname)}} (
                                    {{request.user.role.description}} )
                                  </h2>
                                </a>
                                <p class="card-title text-darken-xl">
                                  Đã tạo mới một yêu cầu:
                                  <b>
                                    {{request.requestType.requestTypeName}}
                                  </b>
                                </p>
                                <p class="card-title text-darken-xl">
                                  Ngày: {{request.date | date: 'dd/MM/yyyy'}}
                                </p>
                                <p
                                  class="card-title text-darken-xl"
                                  *ngIf="request.description"
                                >
                                  Mô tả: {{request.description}}
                                </p>

                                <button
                                  class="btn btn-success btn-round"
                                  type="button"
                                  (click)="onAprove(request.id)"
                                >
                                  Đồng ý
                                </button>
                                <button
                                  class="btn btn-danger btn-round"
                                  type="button"
                                  (click)="onReject(request.id)"
                                >
                                  Từ chối
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Từ chối">
              <div class="card-body" *ngIf="!listOfRequest">
                <div class="empty">
                  <div class="empty-center text-center">
                    <img
                      src="assets/images/empty-folder.png"
                      class="empty-box"
                    />
                    <h2>
                      Danh sách yêu cầu trống!
                    </h2>
                  </div>
                </div>
              </div>
              <div *ngIf="listOfRequest">
                <div *ngIf="listOfRequest.length === 0" class="empty">
                  <div class="empty-center text-center">
                    <img
                      src="assets/images/empty-folder.png"
                      class="empty-box"
                    />
                    <h2>
                      Danh sách yêu cầu trống!
                    </h2>
                  </div>
                </div>
                <div *ngIf="listOfRequest.length > 0">
                  <div *ngFor="let request of listOfRequest , let i = index ">
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <div class="card-padding">
                          <div class="row card-modify">
                            <!-- <div class="col-md-1 id-center">{{i+1}}</div> -->
                            <div class="col-md-3">
                              <div class="text-center">
                                <img
                                  class="user-profile"
                                  [src]="request.user.avatar ? baseImg + request.user.avatar : defaultAvatar"
                                />
                              </div>
                            </div>
                            <div class="col-md-9">
                              <a
                                [routerLink]="['/user-profile']"
                                [queryParams]="{id: request.user.userId}"
                              >
                                <h2 class="card-category">
                                  {{getFullName(request.user.lastname,request.user.surname,
                                  request.user.firstname)}} (
                                  {{request.user.role.description}} )
                                </h2>
                              </a>
                              <p class="card-title text-darken-xl">
                                Đã tạo mới một yêu cầu:
                                <b> {{request.requestType.requestTypeName}} </b>
                              </p>
                              <p class="card-title text-darken-xl">
                                Ngày: {{request.date | date: 'dd/MM/yyyy'}}
                              </p>
                              <p
                                class="card-title text-darken-xl"
                                *ngIf="request.description"
                              >
                                Mô tả: {{request.description}}
                              </p>
                              <p
                                class="card-title text-darken-xl"
                                *ngIf="request.note"
                              >
                                Phản hồi của quản lý: {{request.note}}
                              </p>
                              <button
                                class="btn btn-danger btn-round"
                                type="button"
                              >
                                Đã từ chối
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
          <!-- <div class="d-flex justify-content-center">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
