
.card-header {
  font-size: 30px;
    line-height: 40px ;
  text-align: center;
  color: #4c99d0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-padding {
  padding: 20px;
  border-bottom: 1px solid royalblue;
}
.top-padding {
  border-top: 1px solid lightblue;
}
/* .col-md-4 {
  border: 1px solid royalblue;
} */
/* .exercise-img {
  padding-top: auto;
  padding-bottom: auto;
  max-height: 150px;
} */
.exercise-img {
  width: auto;
  height: 180px;
}
.card-modify {
  min-height: 180px;
}
pagination-controls {
  padding: 20px;
}

.hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


