<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div *ngIf="exercises">
        <div class="card-header">
          Danh sách bài tập
        </div>
        <div
          *ngFor="let exercise of exercises 
          | paginate: { itemsPerPage: 5, currentPage: p}
          , let i = index"
        >
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="card-padding">
                <div class="row card-modify">
                  <div class="col-md-4">
                    <div class="text-center">
                      <img
                        class="exercise-img"
                        [src]="exercise.thumbnail ? baseImg + exercise.thumbnail : defaultImg"
                        onerror="this.style.display='none'"
                      />
                    </div>
                  </div>
                  <div class="col-md-7">
                    <a
                      [routerLink]="['/exercise-detail']"
                      [queryParams]="{id: exercise.id}"
                    >
                      <h2 class="card-category">
                        {{ exercise.name }}
                      </h2>
                    </a>

                    <h3 class="card-title text-darken-xl">
                      <b>Mô tả: </b><br />
                      <div class="hidden">{{ exercise.description }}</div>
                    </h3>
                  </div>
                  <div class="col-md-1" *ngIf="isSuperAdmin">
                    <img
                      class="float-right"
                      src="assets/images/icon/trash-can@4x.png"
                      width="25px"
                      (click)="onDelete(exercise.id)"
                      onerror="this.style.display='none'"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-center"
          *ngIf="exercises.length != 0 && p >= 1"
        >
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
