<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h2 class="title">{{currentUser.data.username}}</h2>
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Cập nhật ảnh đại diện</button>
            </div>
          </div>
        </div>  
  
  
  
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-user">
        <!-- <div class="card-header">
          <h5 class="card-title">Thông tin tài khoản</h5>
        </div> -->
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Họ và tên</label>
                  <input type="text" class="form-control" placeholder="tên đăng nhập" value="{{currentUser.data.lastname}} {{currentUser.data.firstname}}">
                  <!-- <input type="text" class="form-control" disabled="" placeholder="tên đăng nhập" value="Creative Code Inc."> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" value="{{currentUser.data.email}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Địa chỉ</label>
                  <input type="text" class="form-control" placeholder="Địa chỉ" value="{{currentUser.data.address}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Số điện thoại</label>
                  <input type="tel" class="form-control" placeholder="Số điện thoại" value="{{currentUser.data.phone}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>CCCD/CMND</label>
                  <input type="text" class="form-control" placeholder="Email" value="{{currentUser.data.identityCard}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Cập nhật</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  