label {
  font-size: 16px;
  margin: auto;
}
/* .date{
  width: 50%;
} */
.card-header {
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  color: #4c99d0;
  padding: 50px 0 10px 0;
}
h2{
  color: #4c99d0;
}
.form-horizontal {
  width: 65%;
  margin: 10px auto 20px auto;
  padding: 30px 30px 10px 30px;
  border: 1px solid lightblue;
}
.radio {
  padding: 0px 15px 0px 0px !important;
}
.btn-round {
  border-radius: 5px;
  width: 130px;
}
mat-form-field {
  padding-left: 15px;
  padding-right: 15px;
}
.address-input {
  width: 67% !important;
  display: unset !important;
}
.work-place {
  width: 100% !important;
}
.form-check-input{
  margin-left: 0rem !important;
}
.form-check-label{
  padding: 0 20px;
}
.form-check{
  margin: 0.5rem 0;
}