.sidebar-wrapper {
    background-color: #cae2ff;
  }
  
.abc{
      color: black !important;
  }
.logo1{
    color: #0798D6 !important;
    text-align: center;
    font-size: 19px !important;
}
.logo2{
  color: #0798D6 !important;
  text-align: center;
  font-size: 11px !important;
}
.right{
  display: flex;
  justify-content: right !important;
}
.col-md-1{
  padding-right: 0px;
  padding-left: 0px;
}

