<div class="sidebar-wrapper">
  <div class="logo  ">
    <a routerLink="dashboard" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/images/logo.png" />
      </div>
    </a>
    <a routerLink="dashboard" class="simple-text logo-normal ">
      <div class="logo1">Healthcare System</div><div class="logo2">for patients at home</div> 
    </a>
  </div>
  <ul class="nav border-bottom">
    <li routerLinkActive="active">
      <a routerLink="/dashboard">
        <div class="row">
          <div class="col-md-2.5">
            <img
              class="nc-icon"
              src="assets/images/icon/dashboard.png"
              width="25px"
              height="25px"
            />
          </div>
          <div class="col-md-8">
            Bảng điều khiển
          </div>
        </div>
      </a>
    </li>
    
    <li
      *ngFor="let menuItem of menuItems, let i = index"
      routerLinkActive="active"
      [class]="menuItem.class"
    >
      <a class="">
        <div class="row" >
        <div class="col-md-2.5">
          <img
            class="nc-icon"
            [src]="menuItem.icon"
            width="25px"
            height="25px"
          />
        </div>
        <div class="col-md-9">
          <div (click)="onToggleDropdown(i, menuItem.isToggle)" >{{menuItem.title}}</div>
          <div class="row" *ngFor="let child of menuItem?.child">
            <ng-container *ngIf="menuItem.isToggle">
              <div class="col-sm-12" >
                <a [routerLink]="child.path" *ngIf="child.isAdmin">
                  {{ child.title }}
                </a>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-md-1">
          <img
            (click)="onToggleDropdown(i, menuItem.isToggle)"
            class="nc-icon"
            [src]="menuItem.isToggle ? menuItem.iconMinus : menuItem.iconPlus"
            width="20px"
            height="20px"
          />
        </div>
      </div>
      </a>
    </li>
    <!-- <li routerLinkActive="active">
      <a routerLink="/request">
        <div class="row">
          <div class="col-md-2.5">
            <img
              class="nc-icon"
              src="assets/images/icon/request_icon.png"
              width="25px"
              height="25px"
            />
          </div>
          <div class="col-md-8">
            Yêu cầu
          </div>
        </div>
      </a>
    </li> -->
  </ul>
</div>
