<div class="row" *ngIf="currentUser">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img [src]="backgroundImg" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <img class="avatar border-gray" [src]="avatar" alt="..." />
          <h2 class="title">{{fullName}}</h2>
          <h3 class="title">{{currentUser.roleName}}</h3>
          <div class="update ml-auto mr-auto">
            <input
              type="file"
              accept="image/*"
              #file
              hidden
              (change)="onSelectFile($event)"
            />
            <button
              type="button"
              (click)="file.click()"
              class="btn btn-success btn-round"
            >
              <i class="fa fa-upload"></i>
              Chọn ảnh đại diện
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-body">
        <form [formGroup]="formProfile" (submit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Tên</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="fullName"
                  placeholder="tên đăng nhập"
                  (change)="convertFullName($event.target.value)"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="mail"
                  placeholder="Email"
                  readonly
                />
                <div
                  *ngIf="(formProfile.get('mail').invalid 
                  && formProfile.get('mail').touched) 
                  || formProfile.get('mail').dirty"
                >
                  <small
                    class="text-danger"
                    *ngIf="formProfile.get('mail').errors?.required"
                    >Chưa có email</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="formProfile.get('mail').errors?.pattern"
                    >Email không hợp lệ</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Số điện thoại</label>
                <input
                  type="tel"
                  class="form-control"
                  formControlName="phone"
                  placeholder="Số điện thoại"
                  value="{{currentUser.phone}}"
                />
                <div
                  *ngIf="(formProfile.get('phone').invalid 
                  && formProfile.get('phone').touched) 
                  || formProfile.get('phone').dirty"
                >
                  <small
                    class="text-danger"
                    *ngIf="formProfile.get('phone').errors?.pattern"
                    >Chưa đúng định dạng SĐT</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Địa chỉ</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{address}}"
                  placeholder="Địa chỉ"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Địa chỉ chi tiết</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="address"
                  placeholder="Địa chỉ"
                />
              </div>
            </div>
          </div>
          <div class="row modify">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">
                Cập nhật
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
