table {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .card-header {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #4c99d0;
    padding: 50px 0px 10px 0px;
  }

  
  img {
    margin-left: 10px;
  }
  .button-right {
    justify-content: right;
  }
  .btn-round {
    border-radius: 5px;
  }
  .btn {
    width: 140px !important;
  }
  mat-tab-group {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  mat-form-field {
    margin: 10px;
  }
  /* .padding-right {
    padding-right: 20px;
  }
  .padding-left {
    padding-left: 20px;
  } */
  .searchBox{
    width: 250px;
  }
  .empty {
    color: #556388;
    height: 300px;
  }
  .empty-box {
    width: 150px;
  }
  .empty-center {
    padding-top: 20px;
    margin: auto;
  }
  .address-title {
    color: #4c99d0;
  }