<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div *ngIf="medicines">
        <div class="card-header">
          Danh sách Thuốc
        </div>
        <div
          *ngFor="let medicine of medicines 
          | paginate: { itemsPerPage: 5, currentPage: p}
          , let i = index "
        >
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="card-padding">
                <div class="row card-modify">
                  <div class="col-md-4">
                    <div class="text-center">
                      <img
                        class="medicine-img"
                        [src]="medicine.thumbnail ? baseImg + medicine.thumbnail : defaultImg"
                        onerror="this.style.display='none'"
                      />
                    </div>
                  </div>
                  <div class="col-md-7">
                    <a
                      [routerLink]="['/medicine-detail']"
                      [queryParams]="{id: medicine.id}"
                    >
                      <h2 class="card-category">
                        {{ medicine.name }}
                      </h2>
                    </a>
                    <h3 class="card-title text-darken-xl">
                      <b>Mô tả: </b><br />{{medicine.description}}
                    </h3>
                  </div>
                  <div class="col-md-1" *ngIf="isSuperAdmin">
                    <img
                      class="float-right"
                      src="assets/images/icon/trash-can@4x.png"
                      width="25px"
                      (click)="onDelete(medicine.id)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-center"
          *ngIf="medicines.length != 0 && p >= 1"
        >
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
