* {
  box-sizing: border-box;
}
label {
  padding: 0;
  margin: auto;
}
.bg-img {
  /* The image used */
  background-image: url("assets/images/background.png");

  min-height: 380px;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  left: 50%;
  bottom: 20%;
  margin: 20px;
  max-width: 370px;
  padding: 16px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: white;
}
.center {
  text-align: center;
  color: #445e93;
}

/* Set a style for the submit button */
.btn {
  /* background-color: #9cd0e7; */
  color: white;
  border: none;
  cursor: pointer;
  width: 110px;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}

