<div class="row" *ngIf="user">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img [src]="backgroundImg" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <img class="avatar border-gray" [src]="avatar" alt="..." />
          <h1 class="title">{{fullName}}</h1>
          <h3 class="title">{{user.role.description}}</h3>
          <div class="update ml-auto mr-auto">
            <input
              type="file"
              accept="image/*"
              #file
              hidden
              (change)="onSelectFile($event)"
            />
            <button
              type="button"
              (click)="file.click()"
              class="btn btn-success btn-round button-modify"
            >
              <i class="fa fa-upload"></i>
              Chọn ảnh đại diện
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-body">
        <form [formGroup]="formProfile" (submit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Họ và tên</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="fullName"
                  placeholder="tên đăng nhập"
                  (change)="convertFullName($event.target.value)"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div
                *ngIf="(formProfile.get('fullName').invalid 
              && formProfile.get('fullName').touched) 
              || formProfile.get('fullName').dirty"
              >
                <small
                  *ngIf="formProfile.get('fullName').errors?.pattern"
                  class="text-danger"
                  >Sai định dạng tên
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Giới tính</label>
                <div class="">
                  <label class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      value="Nam"
                      formControlName="gender"
                    />
                    <span> Nam </span>
                  </label>
                  <label class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      value="Nữ"
                      formControlName="gender"
                    />
                    <span> nữ </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Ngày tháng năm sinh</label>
                <input
                  class="form-control date"
                  type="date"
                  formControlName="dob"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Số điện thoại</label>
                <input
                  type="tel"
                  class="form-control"
                  formControlName="phone"
                  placeholder="Số điện thoại"
                  (change)="onChangephone($event)"
                  readonly
                />
                <div
                  *ngIf="(formProfile.get('phone').invalid 
                  && formProfile.get('phone').touched) 
                  || formProfile.get('phone').dirty"
                >
                  <small
                    class="text-danger"
                    *ngIf="formProfile.get('phone').errors?.pattern"
                    >Chưa đúng định dạng SĐT</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="mail"
                  class="form-control"
                  formControlName="mail"
                  placeholder="example@mail.com"
                />
                <div
                  *ngIf="(formProfile.get('mail').invalid 
                    && formProfile.get('mail').touched) 
                    || formProfile.get('mail').dirty"
                >
                  <small
                    class="text-danger"
                    *ngIf="formProfile.get('mail').errors?.pattern"
                    >Email không hợp lệ</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Phường/Xã</label>
                <select
                  class="form-control form-select"
                  (change)="onPatchvillageId($event.target.value)"
                >
                  <option [value]="">--- Phường/Xã --- </option>
                  <option
                    *ngFor="let village of listOfVillage"
                    [value]="village.villageId"
                    [selected]="userVillageId === village.villageId"
                    >{{village.name}}</option
                  >
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Địa chỉ</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="address"
                  placeholder="Địa chỉ"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>CCCD/CMND</label>
                <input
                  type="tel"
                  class="form-control"
                  formControlName="identityCard"
                  placeholder="CCCD/CMND"
                />
              </div>
            </div>
          </div>
          <div class="row modify">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">
                Cập nhật
              </button>
              <button type="button" class="btn btn-secondary btn-round">
                Hủy
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
