<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="text-center">
          <h3 class="card-category">Vacxin dự kiến toàn quốc</h3>
          <h1 class="card-title text-success text-darken-xl">55.001.026</h1>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <!-- <div class="stats"><i class="fa fa-refresh"></i> Update Now</div> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="text-center">
          <h3 class="card-category">Vacxin dự đã phân bố</h3>
          <h1 class="card-title text-success">58.079.456</h1>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="text-center">
          <h3 class="card-category">Đối tượng đã tiêm</h3>
          <h1 class="card-title text-success">54.903.618</h1>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="text-center">
          <h3 class="card-category">Đối tượng đăng kí tiêm</h3>
          <h1 class="card-title text-success">10.882.163</h1>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="covidInternal">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats text-center">
      <div class="card-body">
        <div class="">
          <h3 class="card-category">Ca nhiễm hôm nay</h3>
          <h1 class="card-title text-danger">{{covidToday.cases}}</h1>
          <div class="stats">Tổng: <b class=" text-danger">{{covidInternal.cases}}</b></div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body text-center">
        <div class="">
          <h3 class="card-category">Số ca tử vong</h3>
          <h1 class="card-title text-danger">{{covidToday.death}}</h1>
          <div class="stats">Tổng: <b class="text-danger">{{covidInternal.death}}</b></div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats text-center">
      <div class="card-body">
        <div class="">
          <h3 class="card-category">Số ca khỏi bệnh</h3>
          <h1 class="card-title text-primary">{{covidToday.recovered}}</h1>
          <div class="stats">Tổng: <b class="text-primary">{{covidInternal.recovered}}</b></div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats text-center">
      <div class="card-body">
        <div class="">
          <h3 class="card-category">Tỉnh thành có dịch</h3>
          <h1 class="card-title text-danger">63/63</h1>
          <div class="stats"><b class="text-danger">Tỉnh</b></div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header ">
        <h5 class="card-title">Số liệu ca mắc mới và phục hồi</h5>
        <p class="card-category">trong 7 ngày gần nhất</p>
      </div>
      <div style="display: block;">
        <canvas baseChart 
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header ">
        <h5 class="card-title">Số liệu của thành phố Hà Nội</h5>
        <p class="card-category">Đến nay</p>
      </div>
      <div style="display: block;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header ">
        <h5 class="card-title">Số liệu của từng địa phương</h5>
        <p class="card-category">Đến nay</p>
      </div>
      <div style="display: block;">
        <canvas baseChart 
          [datasets]="lineChartData2"
          [labels]="lineChartLabels2"
          [options]="lineChartOptions2" 
          [colors]="lineChartColors2"
          [legend]="lineChartLegend2"
          [chartType]="lineChartType2"
          [plugins]="lineChartPlugins2">
        </canvas>
      </div>
    </div>
  </div>
</div>
