<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Báo cáo sức khỏe
      </div>
      <h2 class="text-center">
        Bệnh nhân:
        <a [routerLink]="['/user-profile']" [queryParams]="{id: id}"
          >{{name}}</a
        >
      </h2>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-round" (click)="onDownloadFile()">
          <i class="fa fa-download"></i>
          Tải xuống
        </button>
      </div>
      <div class="card-body">
        <div class="card-body" *ngIf="!reports">
          <div class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Không có báo cáo!
              </h2>
            </div>
          </div>
        </div>
        <div class="table table-responsive" *ngIf="reports">
          <div *ngIf="reports.length === 0" class="empty">
            <div class="empty-center text-center">
              <img src="assets/images/empty-folder.png" class="empty-box" />
              <h2>
                Không có báo cáo!
              </h2>
            </div>
          </div>
          <table *ngIf="reports.length >= 1" class="table table-bordered">
            <thead class="table-info">
              <tr>
                <th scope="col">STT</th>
                <th scope="col ">Ngày</th>
                <th scope="col">Nhiệt độ</th>
                <th scope="col">Nồng độ oxy</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Bài tập</th>
                <th scope="col">Thuốc</th>
                <th scope="col">Triệu chứng</th>
                <!-- <th scope="col " style="width: 10%;">Thao tác</th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let report of reports 
                | paginate: { itemsPerPage: 10, currentPage: p}, let i = index"
              >
                <th class="text-center" scope="row">
                  {{ ((p - 1) * 10) + i + 1 }}
                </th>
                <td>
                  {{report.date | date: 'dd/MM/yyyy' }} {{
                  convertDate(report.time)}}
                </td>

                <td>{{report.temperature}}</td>
                <td>{{report.oxygen}}</td>
                <td>{{report.comment}}</td>
                <td style="white-space: pre-line;">
                  {{convert(report.exercises)}}
                </td>
                <td style="white-space: pre-line;">
                  {{convert(report.medicines)}}
                </td>
                <td style="white-space: pre-line;">
                  {{convert(report.symptoms)}}
                </td>
                <!-- <td class="text-center">
                  <a
                    [routerLink]="['/report-detail']"
                    [queryParams]="{id: report.userId}"
                    class="icon"
                  >
                    <img
                      src="assets/images/icon/o-alert-info@2x.png"
                      width="24px"
                      height="24px"
                    />
                  </a>
                </td> -->
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center" *ngIf="p >= 1">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
