<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          Thêm mới tài khoản
        </div>
        <h2 class="text-center" *ngIf="isAdmin">
          {{currentUser.provinceName}} - {{currentUser.districtName}}
        </h2>
        <h2 class="text-center" *ngIf="isMod">
          {{currentUser.provinceName}}
          <br />
          {{currentUser.districtName}} - {{currentUser.villageName}}
        </h2>
        <div class="text-center" *ngIf="isSuperAdmin">
          <mat-form-field appearance="fill" class="padding-right">
            <mat-label>Tỉnh/Thành phố</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeProvinceId($event.value)"
            >
              <mat-option
                *ngFor="let province of listOfProvince
                , let i = index"
                [value]="province.provinceId"
                >{{province.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="padding-right">
            <mat-label>Quận/Huyện</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              (selectionChange)="onChangeDistrictId($event.value)"
            >
              <mat-option
                *ngFor="let district of listOfDistrict
                , let i = index"
                [value]="district.districtId"
                >{{district.name}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill" *ngIf="isAdmin || isSuperAdmin">
            <mat-label>Trạm y tế</mat-label>
            <mat-select
              matNativeControl
              panelClass="mat-select-content"
              [value]="villageId"
              (selectionChange)="onChangeVillage($event.value)"
            >
              <mat-option
                *ngFor="let medicalStaff of ListOfMedicalStaff
                , let i = index"
                [value]="medicalStaff.village.villageId"
                >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                medicalStaff.firstname)}}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
        </div>

        <div class="text-center">
          <input
            hidden
            type="file"
            #fileUpload
            (change)="onSelectFile($event)"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          />
          <button
            (click)="fileUpload.click()"
            class="btn btn-success btn-round"
          >
            <i class="fa fa-upload"></i>
            Tải lên
          </button>
          <button
            (click)="onSampleFileDownload()"
            class="btn btn-success btn-round"
          >
            <i class="fa fa-download"></i>
            File mẫu
          </button>
        </div>
        <div>
          <mat-tab-group
            mat-align-tabs="center"
            #tabGroup
            (focusChange)="tabChanged($event)"
            [selectedIndex]="1"
          >
            <mat-tab label="Trung tâm y tế" *ngIf="isSuperAdmin">
              <form
                class="form-horizontal"
                [formGroup]="formManager"
                (submit)="onSubmit()"
              >
                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Tên trung y tế<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Tên trung tâm y tế"
                      class="form-control"
                      formControlName="fullName"
                      (change)="convertFullName($event.target.value)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formManager.get('fullName').invalid 
                        && formManager.get('fullName').touched) 
                        || formManager.get('fullName').dirty"
                    >
                      <small
                        *ngIf="formManager.get('fullName').errors?.required"
                        class="text-danger"
                        >Chưa nhập tên trung tâm y tế
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Email<span class="text-danger"> *</span></label
                  >
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Email"
                      class="form-control"
                      formControlName="email"
                      (change)="onPatchUserNameFromEmail($event)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formManager.get('email').invalid 
                        && formManager.get('email').touched) 
                        || formManager.get('email').dirty"
                    >
                      <small
                        *ngIf="formManager.get('email').errors?.maxlength"
                        class="text-danger"
                        >Tối đa 50 kí tự
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="formManager.get('email').errors?.pattern"
                        >Chưa đúng định dạng email</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Số điện thoại </label>
                  <div class="col-md-8">
                    <input
                      type="tel"
                      placeholder="Số điện thoại"
                      class="form-control"
                      formControlName="phone"
                    />
                    <div
                      *ngIf="(formManager.get('phone').invalid 
                        && formManager.get('phone').touched) 
                        || formManager.get('phone').dirty"
                    >
                      <small
                        class="text-danger"
                        *ngIf="formManager.get('phone').errors?.pattern"
                        >Chưa đúng định dạng SĐT</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row" *ngIf="isAdmin || isSuperAdmin">
                  <label class="col-md-4 control-label"
                    >Phường/Xã<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <select
                      class="form-control form-select"
                      (change)="onPatchvillageId($event.target.value)"
                    >
                      <option [value]="">---Phường/Xã--- </option>
                      <option
                        *ngFor="let village of listOfVillage"
                        [value]="village.villageId"
                        >{{ village.name}}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Địa chỉ </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Địa chỉ chi tiết"
                      class="form-control"
                      formControlName="address"
                    />
                  </div>
                </div>

                <div class="form-group d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-round">
                    Thêm mới
                  </button>
                  <button
                    type="button"
                    (click)="onCancel()"
                    class="btn btn-secondary btn-round"
                  >
                    Hủy
                  </button>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="Trạm y tế" *ngIf="isAdmin || isSuperAdmin">
              <form
                class="form-horizontal"
                [formGroup]="formMedicalStaff"
                (submit)="onSubmit()"
              >
                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Tên trạm y tế<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Tên trạm y tế"
                      class="form-control"
                      formControlName="fullName"
                      (change)="convertFullName($event.target.value)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formMedicalStaff.get('fullName').invalid 
                    && formMedicalStaff.get('fullName').touched) 
                    || formMedicalStaff.get('fullName').dirty"
                    >
                      <small
                        *ngIf="formMedicalStaff.get('fullName').errors?.required"
                        class="text-danger"
                        >Chưa nhập tên trạm y tế
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Email<span class="text-danger"> *</span></label
                  >
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Email"
                      class="form-control"
                      formControlName="email"
                      (change)="onPatchUserNameFromEmail($event)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formMedicalStaff.get('email').invalid 
                    && formMedicalStaff.get('email').touched) 
                    || formMedicalStaff.get('email').dirty"
                    >
                      <small
                        *ngIf="formMedicalStaff.get('email').errors?.maxlength"
                        class="text-danger"
                        >Tối đa 50 kí tự
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="formMedicalStaff.get('email').errors?.pattern"
                        >Chưa đúng định dạng email</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Số điện thoại </label>
                  <div class="col-md-8">
                    <input
                      type="tel"
                      placeholder="Số điện thoại"
                      class="form-control"
                      formControlName="phone"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formMedicalStaff.get('phone').invalid 
                  && formMedicalStaff.get('phone').touched) 
                  || formMedicalStaff.get('phone').dirty"
                    >
                      <small
                        class="text-danger"
                        *ngIf="formMedicalStaff.get('phone').errors?.pattern"
                        >Chưa đúng định dạng SĐT</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="isAdmin || isSuperAdmin">
                  <label class="col-md-4 control-label"
                    >Phường/Xã<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <select
                      class="form-control form-select"
                      (change)="onPatchvillageId($event.target.value)"
                    >
                      <option [value]="">---Phường/Xã--- </option>
                      <option
                        *ngFor="let village of listOfVillage"
                        [value]="village.villageId"
                        >{{ village.name}}</option
                      >
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formMedicalStaff.get('village').invalid 
                    && formMedicalStaff.get('village').touched) 
                    || formMedicalStaff.get('village').dirty"
                    >
                      <small
                        *ngIf="formMedicalStaff.get('villageId').errors?.required"
                        class="text-danger"
                        >Chưa chọn Phường/Xã
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Địa chỉ </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Địa chỉ chi tiết"
                      class="form-control"
                      formControlName="address"
                    />
                  </div>
                </div>

                <div class="form-group d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-round">
                    Thêm mới
                  </button>
                  <button
                    type="button"
                    (click)="onCancel()"
                    class="btn btn-secondary btn-round"
                  >
                    Hủy
                  </button>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="Bác sĩ">
              <form
                class="form-horizontal"
                [formGroup]="formDoctor"
                (submit)="onSubmit()"
              >
                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Họ và tên<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Họ và tên"
                      class="form-control"
                      formControlName="fullName"
                      (change)="convertFullName($event.target.value)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formDoctor.get('fullName').invalid 
                    && formDoctor.get('fullName').touched) 
                    || formDoctor.get('fullName').dirty"
                    >
                      <small
                        *ngIf="formDoctor.get('fullName').errors?.required"
                        class="text-danger"
                        >Chưa nhập tên
                      </small>
                      <small
                        *ngIf="formDoctor.get('fullName').errors?.pattern"
                        class="text-danger"
                        >Sai định dạng tên
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Giới tính </label>
                  <div class="col-md-8">
                    <label class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        value="Nam"
                        formControlName="gender"
                      />
                      <span class="span-modify"> Nam </span>
                    </label>
                    <label class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        value="Nữ"
                        formControlName="gender"
                      />
                      <span class="span-modify"> Nữ </span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Ngày sinh </label>
                  <div class="col-md-8">
                    <input
                      type="date"
                      class="form-control date"
                      formControlName="dateOfBirth"
                      [max]="maxDate"
                    />
                    <!-- (change)="onChangeDate($event.target.value)" -->
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Email </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Email"
                      class="form-control"
                      formControlName="email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formDoctor.get('email').invalid 
                        && formDoctor.get('email').touched) 
                        || formDoctor.get('email').dirty"
                    >
                      <small
                        *ngIf="formDoctor.get('email').errors?.maxlength"
                        class="text-danger"
                        >Tối đa 50 kí tự
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="formDoctor.get('email').errors?.pattern"
                        >Chưa đúng định dạng email</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Số điện thoại<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <input
                      type="tel"
                      placeholder="Số điện thoại"
                      class="form-control"
                      formControlName="phone"
                      (change)="onPatchUserNameFromPhone($event)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formDoctor.get('phone').invalid 
                    && formDoctor.get('phone').touched) 
                    || formDoctor.get('phone').dirty"
                    >
                      <small
                        class="text-danger"
                        *ngIf="formDoctor.get('phone').errors?.pattern"
                        >Chưa đúng định dạng SĐT</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Bệnh viện</label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Bệnh viện"
                      class="form-control"
                      formControlName="hospital"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row" *ngIf="isAdmin || isSuperAdmin">
                  <label class="col-md-4 control-label"
                    >Nơi làm việc<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <select
                      class="form-control form-select"
                      (change)="onChangeMedicalStaff($event)"
                    >
                      <option [value]="">---Trạm y tế--- </option>
                      <option
                        *ngFor="let medicalStaff of listOfMedicalStaff"
                        [value]="medicalStaff.medicalStaffId"
                        >{{getFullName(medicalStaff.lastname,medicalStaff.surname,
                        medicalStaff.firstname)}}</option
                      >
                    </select>
                  </div>
                </div>
                <!-- <div class="form-group row" *ngIf="isAdmin || isSuperAdmin">
                  <label class="col-md-4 control-label"
                    >Phường/Xã<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <select
                      class="form-control form-select"
                      (change)="onPatchvillageId($event.target.value)"
                    >
                      <option
                        *ngFor="let village of listOfVillage"
                        [value]="village.villageId"
                        >{{ village.name}}</option
                      >
                    </select>
                  </div>
                </div> -->
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Địa chỉ </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Địa chỉ chi tiết"
                      class="form-control"
                      formControlName="address"
                    />
                  </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-round">
                    Thêm mới
                  </button>
                  <button
                    type="button"
                    (click)="onCancel()"
                    class="btn btn-secondary btn-round"
                  >
                    Hủy
                  </button>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="Bệnh nhân">
              <form
                class="form-horizontal"
                [formGroup]="formPatient"
                (submit)="onSubmit()"
              >
                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Họ và tên<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Họ và tên"
                      class="form-control"
                      formControlName="fullName"
                      (change)="convertFullName($event.target.value)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formPatient.get('fullName').invalid 
                    && formPatient.get('fullName').touched) 
                    || formPatient.get('fullName').dirty"
                    >
                      <small
                        *ngIf="formPatient.get('fullName').errors?.required"
                        class="text-danger"
                        >Chưa nhập tên bệnh nhân
                      </small>
                      <small
                        *ngIf="formPatient.get('fullName').errors?.pattern"
                        class="text-danger"
                        >Sai định dạng tên
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Giới tính </label>
                  <div class="col-md-8">
                    <label class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        value="Nam"
                        formControlName="gender"
                      />
                      <span class="span-modify"> Nam </span>
                    </label>
                    <label class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        value="Nữ"
                        formControlName="gender"
                      />
                      <span class="span-modify"> Nữ </span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Ngày sinh </label>
                  <div class="col-md-8">
                    <input
                      type="date"
                      class="form-control date"
                      formControlName="dateOfBirth"
                      [max]="maxDate"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Email </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Email"
                      class="form-control"
                      formControlName="email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formPatient.get('email').invalid 
                        && formPatient.get('email').touched) 
                        || formPatient.get('email').dirty"
                    >
                      <small
                        *ngIf="formPatient.get('email').errors?.maxlength"
                        class="text-danger"
                        >Tối đa 50 kí tự
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="formPatient.get('email').errors?.pattern"
                        >Chưa đúng định dạng email</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label"
                    >Số điện thoại<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <input
                      type="tel"
                      placeholder="Số điện thoại"
                      class="form-control"
                      formControlName="phone"
                      (change)="onPatchUserNameFromPhone($event)"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div
                      *ngIf="(formPatient.get('phone').invalid 
                        && formPatient.get('phone').touched) 
                        || formPatient.get('phone').dirty"
                    >
                      <small
                        class="text-danger"
                        *ngIf="formPatient.get('phone').errors?.pattern"
                        >Chưa đúng định dạng SĐT</small
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="isAdmin || isSuperAdmin">
                  <label class="col-md-4 control-label"
                    >Phường/Xã<span class="text-danger"> *</span>
                  </label>
                  <div class="col-md-8">
                    <select
                      class="form-control form-select"
                      (change)="onPatchvillageId($event.target.value)"
                    >
                      <option [value]="">---Phường/Xã--- </option>
                      <option
                        *ngFor="let village of listOfVillage"
                        [value]="village.villageId"
                        >{{ village.name}}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8"></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">Địa chỉ </label>
                  <div class="col-md-8">
                    <input
                      type="text"
                      placeholder="Địa chỉ chi tiết"
                      class="form-control"
                      formControlName="address"
                    />
                  </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-round">
                    Thêm mới
                  </button>
                  <button
                    type="button"
                    (click)="onCancel()"
                    class="btn btn-secondary btn-round"
                  >
                    Hủy
                  </button>
                </div>
              </form>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
