<mat-dialog-content>
  <form [formGroup]="formRequest">
    <h2>
      {{message}}
    </h2>
    <div class="form-group">
      <textarea
        type="text"
        placeholder="Phản hồi"
        rows="4"
        class="form-control"
        formControlName="note"
      ></textarea>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    (click)="onConfirmClick()"
    tabindex="1"
    class="btn btn-info"
  >
    {{confirmButtonText}}
  </button>
  <!-- <button
      mat-raised-button
      mat-dialog-close
      tabindex="-1"
      class="btn btn-secondary "
    >
      {{cancelButtonText}}
    </button> -->
</mat-dialog-actions>
