<form [formGroup]="formUpdate" class="form" (submit)="onEditStep()">
  <div class="card-padding-edit">
    <div class="row card-modify">
      <div class="col-md-4">
        <div class="text-center">
          <img class="img-center" [src]="defaultImg" />
          <br />
          <input
            type="file"
            accept="image/*"
            #file
            hidden
            (change)="onSelectFile($event)"
          />
          <button
            type="button"
            class="btn btn-success btn-round"
            style="width: auto;"
            (click)="file.click()"
          >
            <i class="fa fa-upload"></i>
            Chọn ảnh
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 input-group">
            <textarea
              type="text"
              formControlName="description"
              placeholder="Mô tả bước tập"
              class="form-control"
            ></textarea>
          </div>
          <div class="col-md-12 input-group">
            <textarea
              type="text"
              formControlName="detail"
              placeholder="Chi tiết về bước tập"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-1 no-padding">
          <div class="text-center">
            <img
              src="assets/images/icon/cloud_upload@4x.png"
              width="26px"
              (click)="onEditStep(exerciseStep.exerciseDetailId)"
            />
            <img
              src="assets/images/icon/trash-can@4x.png"
              width="26px"
              (click)="onDelete(exerciseStep.exerciseDetailId)"
            />
          </div>
        </div> -->
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-round">
      Cập nhật
    </button>
    <button
      type="button"
      (click)="onCancel()"
      class="btn btn-secondary btn-round"
    >
      Hủy
    </button>
  </div>
</form>
